<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTool主页</title>
</head>
<body>
<h1>welcome</h1>
<div>
    <form action="/io/getFileName" method="post" name="file" accept-charset="UTF-8">
        文件路径：<label>
        <input type="text" placeholder="请输入文件路径" name="path"/>
    </label><br/>
        <input type="submit" value="提交"/>
    </form>
</div>
<div>
    <form action="/xml/getLabel" method="get" id="xml" accept-charset="UTF-8">
        文件路径：<input type="text" placeholder="请输入文件路径" name="path" style="width:800px;"/><br/>
        <br/>
        标签 ：<input type="text" placeholder="请输入标签" name="label"/><br/>
        <br/>
        <input type="submit" value="提交"/>
    </form>
</div>
<button></button>
</body>
</html>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).on("keydown", "form", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            $(this).submit();
        }
    });
</script>